@import url("https://fonts.googleapis.com/css2?family=Rubik&family=Zilla+Slab:ital,wght@0,400;0,700;1,400;1,700&display=swap");

/* Defaults */
:root {
    /* 36px = line-height = Grundeinheit. Ich nehm' `rem`, weil es weniger Tipparbeit ist als Variablen. */
    font-size: 225%;
    font-family: "Zilla Slab", Georgia, Arial, sans-serif;
    /* Wird mittels Js gesetzt */
    --scrollbar-width: 0px;
}

body {
    margin: 0 auto;
    padding: 0;
    max-width: 48rem;
    font-size: calc(1rem / 3 * 2);
}

*, *:before, *:after {
    box-sizing: border-box;
}

ul {
    padding-left: 24px;
}

/* Vertikaler Rhythmus */
p, ul, ol, dl, h1, h2, h3, h4, h5, h6 {
    margin: 1rem 4rem;
}

p, li, dt, dd, h4, h5, h6 {
    line-height: 1rem;
}

h1, h2, h3 {
    line-height: 2rem;
    margin: 2rem 4rem;
}

sup {
    line-height: 0.5rem;
}

/* Vertikaler Rhythmus Dev-Helfer */
/* body {
    background-image: linear-gradient(to bottom, #ddd 1px, transparent 1px);
    background-size: 1rem 1rem;
} */

/* Teaserheader */
.teaserheader {
    /* Um einfacher skalieren zu können, in den Media Querys unten. */
    --unit: 1rem;
    margin: 3rem 6rem;
    padding: 0 calc(var(--unit) * 2) 0 calc(var(--unit) * 13);
    position: relative;
    min-width: calc(var(--unit) * 27);
    line-height: calc(var(--unit) * 4);
    color: white;
    background: rgb(89, 131, 175);
    font-size: calc(var(--unit) * 1.75);
    font-weight: normal;
}

.teaserheader:before,
.teaserheader:after {
    content: "";
    display: inline-block;
    position: absolute;
    top: calc(var(--unit) * -2);
}

.teaserheader:before {
    left: calc(var(--unit) * -2.5);
    width: calc(var(--unit) * 14);
    height: calc(var(--unit) * 8);
    background-image:
        url('img/teaserheader/left-border.svg'),
        url("img/teaserheader/logo.svg");
    background-position:
        0 0,
        calc(var(--unit) * 6) 0;
    background-size:
        calc(var(--unit) * 8) calc(var(--unit) * 8),
        calc(var(--unit) * 8) calc(var(--unit) * 8);
    background-repeat:
        no-repeat,
        no-repeat;
}

.teaserheader:after {
    right: calc(var(--unit) * -2.5);
    width: calc(var(--unit) * 4.52);
    height: calc(var(--unit) * 8);
    background-image: url('img/teaserheader/right-border.svg');
    background-size: calc(var(--unit) * 8) calc(var(--unit) * 8);
    background-repeat: no-repeat;
}

/* Kurzinfos unter dem Teaserheader */
.shortinfo {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 0 1rem;
    width: fit-content;
    max-width: 100%;
}

.shortinfo div {
    width: max-content;
}

.shortinfo dt,
.shortinfo dd {
    margin: 0;
    display: inline-flex;
    align-items: center;
    white-space: nowrap;
}

.shortinfo dt {
    width: calc(1rem / 3 * 2);
    height: calc(1rem / 3 * 2);
    color: transparent;
    background-size: calc(1rem / 3 * 2);
    margin-right: 0.25rem;
}

.shortinfo .birth {
    background-image: url('img/shortinfos/birth.svg');
}

.shortinfo .nation {
    background-image: url('img/shortinfos/nation.svg');
}

.shortinfo .location {
    background-image: url('img/shortinfos/location.svg');
}

.shortinfo .phone {
    background-image: url('img/shortinfos/phone.svg');
}

.shortinfo .mail {
    background-image: url('img/shortinfos/mail.svg');
}

.shortinfo .web {
    background-image: url('img/shortinfos/web.svg');
}

/* Sektionsheader */
h2 {
    position: relative;
    padding: 0 1rem 0 2.5rem;
    width: fit-content;
    color: rgb(89, 131, 175);
    background: white;
    background-repeat: no-repeat;
    background-position: 1rem 0.375rem;
    background-size: 1.25rem 1.25rem;
    font-size: 1rem;
    font-weight: normal;
}

h2::after {
    content: "";
    position: absolute;
    left: -2rem;
    bottom: 0.9rem;
    width: calc(100vw - 4rem - var(--scrollbar-width));
    max-width: 44rem;
    border: 1px solid rgb(89, 131, 175);
    z-index: -1;
}

h2.hallo {
    background-image: url('img/sectionheader/hallo.svg');
}

h2.erfahrung {
    background-image: url('img/sectionheader/erfahrung.svg');
}

h2.projekte {
    background-image: url('img/sectionheader/projekte.svg');
}

h2.skills {
    background-image: url('img/sectionheader/skills.svg');
}

h2.fazit {
    background-image: url('img/sectionheader/fazit.svg');
}

/* Skills */
dl.skills {
    display: grid;
    grid-template-columns: repeat(auto-fill, 6rem);
    grid-gap: 2rem;
    justify-content: space-around;
    position: relative;
    top: 0.25rem;
}

dl.skills div {
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 0.5rem;
}

dl.skills dd {
    margin: 0;
    width: calc(3rem + (1rem / 6));
    height: 0.5rem;
    color: transparent;
    background-size: calc(3rem + (1rem / 6)) 0.5rem;
    background-repeat: no-repeat;
}

dl.skills dd.lev5 {
    background-image: url('img/skills/level-5.svg');
}

dl.skills dd.lev4 {
    background-image: url('img/skills/level-4.svg');
}

dl.skills dd.lev3 {
    background-image: url('img/skills/level-3.svg');
}

dl.skills dd.lev2 {
    background-image: url('img/skills/level-2.svg');
}

dl.skills dd.lev1 {
    background-image: url('img/skills/level-1.svg');
}

/* Misc */
.signature {
    max-width: 100%;
}

/* Media Queries */
@media (max-width: 1450px) {

    p, ul, ol, dl, h1, h2, h3, h4, h5, h6 {
        margin: 1rem 3rem;
    }

    .teaserheader {
        --unit: 0.75rem;
        margin: 3rem 4.5rem;
    }

    .shortinfo {
        max-width: 21rem;
    }

    h2::after {
        left: -1.5rem;
        width: calc(100vw - 3rem - var(--scrollbar-width));
    }
}

@media (max-width: 1070px) {

    p, ul, ol, dl, h1, h2, h3, h4, h5, h6 {
        margin: 1rem 2rem;
    }

    .teaserheader {
        --unit: 0.5rem;
        margin: 3rem 3rem;
    }

    .shortinfo {
        max-width: 17rem;
    }

    h2::after {
        left: -1rem;
        width: calc(100vw - 2rem - var(--scrollbar-width));
    }
}

@media (max-width: 720px) {

    p, ul, ol, dl, h1, h2, h3, h4, h5, h6 {
        margin: 1rem 1rem;
    }

    .teaserheader {
        padding: 0 1rem;
        text-align: center;
        min-width: 8rem;
    }

    .teaserheader:before {
        width: 2.25rem;
        background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path d="M 0 5 l 5 0 l 0 7 l 4 1 l -9 0 l 2 -4" fill="rgb(83, 126, 162)"/><path d="M 5 12 l 4 0 l 0 1" fill="rgb(44, 77, 100)"/></svg>');
    }

    .shortinfo {
        max-width: 13rem;
    }

    h2::after {
        left: -0.5rem;
        width: calc(100vw - 1rem - var(--scrollbar-width));
    }
}

@media (max-width: 601px) {
    :root {
        font-size: 150%;
    }

    .teaserheader {
        margin: 3rem auto;
        width: 11rem;
        font-size: 1rem;
    }

    h2 {
        font-size: 1rem;
        padding: 0 1rem 0 1.5rem;
        background-position: 0 0.375rem;
    }

    h2::after {
        display: none;
    }

    .signature {
        width: 10rem;
    }

}
